
nav{
    background-color:rgba(151, 203, 216, 0.87);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    height: 98px;
}
 
.nav-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    list-style: none;


    
}

.nav-menu a{
    text-decoration: none;
    color: #727070;

    
}

.nav-menu ul li a{font-size: 30px;}

.poster-logo img{
    width: 128px;
    height: 44px; 
    padding-left: 45px;  
}

.button1 button{
    border:none;
    border-radius: 10px;
    background-color: rgb(50, 122, 216);
    color: aliceblue;
    width: 188px;
    height: 48px;
    margin-right: 80px;
    font-size: 18px;
}

.hero{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 850px;
    margin-top:   0px;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
    url(./assets/banner.jpg) ;
}

.hero-head{
    text-align: center;
    margin: 0 auto;
    font-size: 40px;
    font-weight: 700;
    width: 959px;
    height: 95px;
    padding-top:6px;
    margin-top: 0px;
    color:white;
    
}

.hero-p {
    text-align: center;
    margin-top: 150px;
    width: 829px;
    height: 128px;
    padding-right:301px;
    padding-left: 360px;
    font-size: 26px;
    font-weight: 400;
    margin: 0 auto;
    padding-top: 60px;
    color:white;
}
.button2 button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 360px;
    border:none ;
    border-radius: 14px;
    width: 282px;
    height: 74px;
    color: aliceblue;
    background-color: blue;
    transition: 0.6s; 
    font-size: 18px;
    
}


.button2 button:hover{
      transform: translateY(-8px);
    box-shadow: 0 10px 20px 10px rgb(53, 214, 219);
}


.Speakers{

    background: rgb(186, 214, 245);
width: 100%;
padding: 100px 0;

}

.speaker-head{
    width: 512px;
    height: 65px; 
    margin: 0 auto;

    font-size: 40px;
    font-weight: 700;

}
.speaker-container{
    width: 1500px;
    height: 1088px;
    margin: 0 auto;
    margin-top: 50px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:32px;
    

}

.speaker-card{
    background: #e9e4e4;
    border: 1px solid #f5e9e9;
    border-radius: 17px;
}

.speaker-card img{
    width: 100%;
    height:300px;
    object-fit: cover;
    display: block;

}

.dept{
    display: block;
    margin: 20px 20px 8px;
    font-size: 12px;
    font-weight: 700;
    color: rgb(127, 86, 240);
    text-transform:  uppercase;
    letter-spacing:  1px;

}

.speaker-card h3{
    margin: 0 20px;
    font-size: 30px;
    font-weight: 700;
    color:rgb(48, 47, 47);
}

.speaker-card p{
    margin: 10px 20px 25px;
    font-size: 16px;
    color: rgb(124, 123, 123);
    line-height: 1.5;
}


.pricing{
    width: 100%;
    padding: 100px 0;
    background:rgb(186, 214, 245);
}

.price-head {
    width: 520px;
    margin: 0 auto;
    text-align: center;

}

.price-head h2{
    font-size: 40px;
    font-weight: 700;
    color: #111827;
    margin-bottom: 15px;
}

.price-head p{
    font-size: 18px;
    color: #6B7280;
    line-height:  28px;
}

.price-card{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-left: 50px;
    margin-top: 80px;
}

.standard-card{
    width: 380px;
    border: 1px solid #acb0b4;
    border-radius: 12px;
    background: white;
    padding: 35px;
    transition: 0.3s;

}

.standard-card:hover{
     transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(87, 230, 87, 0.616);
}

.standard-card span{
    color:#2563EB;
    font-size: 18x;
    font-weight: 700;
}

.standard-card h3{
    font-size: 56px;
    font-weight: 700;
    color: #111827;
    margin-top: 20px;
    margin-bottom: 10px;

}

.standard-card p{
    color:#6B7280;
    font-size: 16px;
    margin-bottom: 25px;
}

.standard-card hr{
    border: none;
    border-top: 1px solid #E5E7EB;
    margin-bottom: 25px;
}


.standard-card ul{
    padding-left: 20px;
    font-size: 18px;
}

.standard-card li{margin-bottom: 18px;
color: #374151;
line-height: 24px;}


.S-button{
    width: 100%;
    height: 50px;
    margin-top: 30px;
    border: 1px solid #2563EB;
    background: white;
    color:#2563EB;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.pro-card{
    width: 380px;
    background: #06173d;
    border-radius: 12px;
    padding :35px;
    transition: 0.5s;
}

.pro-card:hover{
     transform: translateY(-8px);
    box-shadow: 0 10px 20px rgb(231, 41, 231);
}


.pro-card span{
    color: #3B82F6;
    font-size: 14px;
    font-weight: 700;
}

.pro-card h3{
    font-size: 56px;
    font-weight: 700;
    color: rgb(122, 128, 131);
    margin-top: 20px;
    margin-bottom: 10px;
}

.pro-card p{
    color:#b27dc7;
    font-size: 16px;
    margin-bottom: 25px;
}

.pro-card hr{
    border: none;
    border-top: 1px solid #b7c0ce;
    margin-bottom: 25px;
}

.pro-card ul{
    padding-left: 20px;
    font-size: 18px;

}

.pro-card li{
    color: #9b9797;
    margin-bottom: 18px;
    line-height: 24px;
}

.pro-card li::marker{
    color:#3B82F6;
}

.P-button{
    width: 100%;
    height: 50px;
    margin-top: 30px;
    background: #2563EB;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}


.team-card{
    width: 380px;
    border: 1px solid #acb0b4;
    border-radius: 12px;
    background: white;
    padding: 35px;
    transition: 0.3s;

}

.team-card:hover{
     transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(14, 137, 153, 0.8);
}


.team-card span{
    color:#2563EB;
    font-size: 18x;
    font-weight: 700;
}

.team-card h3{
    font-size: 56px;
    font-weight: 700;
    color: #111827;
    margin-top: 20px;
    margin-bottom: 10px;

}

.team-card p{
    color:#6B7280;
    font-size: 16px;
    margin-bottom: 25px;
}

.team-card hr{
    border: none;
    border-top: 1px solid #E5E7EB;
    margin-bottom: 25px;
}


.team-card ul{
    padding-left: 20px;
    font-size: 18px;
}

.team-card li{margin-bottom: 18px;
color: #374151;
line-height: 24px;}


.T-button{
    width: 100%;
    height: 50px;
    margin-top: 30px;
    border: 1px solid #2563EB;
    background: white;
    color:#2563EB;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.why-attend{
    width: 100%;
    padding: 100px 0;
    background:#9ac6f3;
}

.why-head{
    text-align: center;
    margin-bottom: 60px;
}

.why-head h2{
    font-size: 42px;
    font-weight: 700;
    color:#111827;
    margin-bottom: 15px;
}
.why-head p{
    font-size: 18px;
    color:#6B7280;
}

.why-card{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap:warp;
    margin-top: 50px;

}

.why-box{
    width: 260px;
    background: white;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    padding: 35px 25px;
    text-align: center;
    transition: 0.3s;
}

.why-box:hover{
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(219, 34, 121, 0.8);
}

.why-box i{
    font-size: 40px;
    color: #eb8525;
    margin-bottom: 20px;

}


.why-box h3{
    font-size: 24px;
    font-weight: 700;
    color: #959721;
    margin-bottom: 15px;
}

.why-box p{
    font-size: 20px;
    color: #6B7280;
    line-height : 26px;
}

.why-message {
    width: 700px;
    
    background: #1e6a81;
    color: white;
    text-align: center;
    padding: 45px;
    border-radius: 12px;
    margin: 0 auto;

    margin-top: 120px;
}

.why-message h3{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
}

.why-message p{
    font-size: 22px;
    line-height: 28px;
}


.footer{
    background-color: #06173d;
    padding:50px 120px 25px;
}

.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo img{
    width:170px;
}

.footer-social{display: flex;
gap: 20px;
}

.footer-social a{
    color:white;
    font-size: 22px;
    text-decoration: none;
    transition: 0.4s;

}

.footer-social a:hover{
    color: #2563EB;
}

.footer hr{
    margin: 35px 0 25px;
    border: none;
    border-top: 1px solid #334155;
}

.footer-down{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer-down p{
    color:#CBD5E1;
    font-size: 15px;
}


.footer-links {
    display: flex;
    gap: 30px;

}


.footer-links a{
    color:#CBD5E1;
    text-decoration:none;
    font-size: 15px;

}


.footer-links a:hover{
    color:rgb(226, 24, 24);
}